# App
SPRING_APPLICATION_NAME=hearbe-backend
SPRING_DATASOURCE_URL=jdbc:mysql://hearbe-mariadb:3306/hearbe?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=hearbe
SPRING_DATASOURCE_PASSWORD=YOUR_DB_PASSWORD
SPRING_DATA_REDIS_HOST=hearbe-redis
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=YOUR_REDIS_PASSWORD
SPRING_JPA_HIBERNATE_DDL_AUTO=update
JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRATION=3600000
ENCRYPTION_SECRET_KEY=YOUR_ENCRYPTION_SECRET_KEY
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=you@example.com
SPRING_MAIL_PASSWORD=YOUR_MAIL_APP_PASSWORD
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_CONNECTIONTIMEOUT=5000
SPRING_MAIL_PROPERTIES_MAIL_SMTP_TIMEOUT=5000
SPRING_MAIL_PROPERTIES_MAIL_SMTP_WRITETIMEOUT=5000
OPENVIDU_URL=http://127.0.0.1:4443/
OPENVIDU_SECRET=YOUR_OPENVIDU_SECRET

# MariaDB
MYSQL_ROOT_PASSWORD=YOUR_ROOT_PASSWORD
MYSQL_DATABASE=hearbe
MYSQL_USER=hearbe
MYSQL_PASSWORD=YOUR_DB_PASSWORD

# phpMyAdmin
PMA_HOST=hearbe-mariadb
PMA_USER=hearbe
PMA_PASSWORD=YOUR_DB_PASSWORD

# Redis
REDIS_PASSWORD=YOUR_REDIS_PASSWORD
