@import "tailwindcss";

:root {
  font-family: 'Pretendard', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
<<<<<<< HEAD
  color-scheme: light;
=======
  color-scheme: light dark;
>>>>>>> feat/front/login
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #1f2937;
  overflow-y: scroll;
}

#root {
  width: 100%;
<<<<<<< HEAD
  min-height: 100vh;
  display: flex;
  flex-direction: column;
=======
>>>>>>> feat/front/login
}