# API Base URL
VITE_API_BASE_URL=http://localhost:54390

# OCR AI 서버 URL (복지카드 인식 API)
VITE_OCR_WELFARE_CARD_URL=https://your-ai-domain/api/v1/ocr/welfare-card

# EmailJS 설정 (https://www.emailjs.com 에서 발급)
VITE_EMAILJS_SERVICE_ID=service_onyiwg5
VITE_EMAILJS_TEMPLATE_ID=template_1h59p7p
VITE_EMAILJS_PUBLIC_KEY=ZpIWJyNt37H9tTaX_
